name: App tests

on: pull_request

jobs:
  Build-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'app'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules

      - name: Install dependencies
        run: yarn install

      - name: Build app
        run: yarn produce

  Unit-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'app'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Setup cache
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node_modules

      - name: Install dependencies
        run: yarn install

      - name: Run Tests
        run: yarn test:unit
